- job:
    block-downstream: false
    block-upstream: false
    builders:
    - shell: |-
        rm -rf iTrust2-v2/
        git clone https://$github_username:$github_password@github.ncsu.edu/oachary/iTrust2-v2.git
        cd iTrust2-v2/iTrust2
        mvn process-test-classes
    concurrent: false
    description: Push hook for itrust deployment
    disabled: false
    name: !!python/unicode 'itrust'
    project-type: freestyle
    publishers: []
    triggers: []
    wrappers:
    - raw:
        xml: |
          <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
          <injectGlobalPasswords>false</injectGlobalPasswords>
          <maskPasswordParameters>true</maskPasswordParameters>
          <passwordEntries>
          <EnvInjectPasswordEntry>
          <name>github_username</name>
          <value>{{github_username}}</value>
          </EnvInjectPasswordEntry>
          <EnvInjectPasswordEntry>
          <name>github_password</name>
          <value>{{github_password}}</value>
          </EnvInjectPasswordEntry>
          </passwordEntries>
          </EnvInjectPasswordWrapper>
